deleting-unread-mails-tkaplftZicdEKKGz.json
{"createdAt":"2025-09-22T10:15:57.650Z","updatedAt":"2025-09-22T12:07:54.000Z","id":"tkaplftZicdEKKGz","name":"Deleting unread mails","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-352,0],"id":"43c1d87b-c98f-448f-9057-09e1cf8e20bf","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"getAll","limit":500,"simple":false,"filters":{"readStatus":"unread"},"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-176,0],"id":"cb1cc2e0-554c-401b-853c-6165f391263b","name":"Get many messages","webhookId":"8843dbd7-8b26-4ae2-86e6-83d08cf4e68b","credentials":{"gmailOAuth2":{"id":"vuCcYwiTB33fGY4H","name":"Gmail account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[384,16],"id":"34e9d4e3-8766-4327-bc19-b5ea328849b5","name":"Wait","webhookId":"8db5f8d8-c322-4259-b953-c27260fa2e1d"},{"parameters":{"assignments":{"assignments":[{"id":"ea2666ea-9225-4d66-b5b2-dbb2a486f440","name":"mailid","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,0],"id":"fa5513c4-2b3c-45ed-8806-d038284971d5","name":"Edit Fields"},{"parameters":{"operation":"delete","messageId":"={{ $json.mailid }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[560,16],"id":"f911f9b1-823f-423c-84d0-f2b0b78f3ac3","name":"Delete a message","webhookId":"09e6e390-f593-47fc-bc17-1eed12c4c3b2","credentials":{"gmailOAuth2":{"id":"vuCcYwiTB33fGY4H","name":"Gmail account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[144,0],"id":"5afe6514-8aa2-43ec-904e-d3f311dc85d9","name":"Loop Over Items"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"Get many messages":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Delete a message","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Delete a message":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d3ea4c07-e58f-40ab-bb77-49aae71cbbd1","triggerCount":0,"shared":[{"createdAt":"2025-09-22T10:15:57.781Z","updatedAt":"2025-09-22T10:15:57.781Z","role":"workflow:owner","workflowId":"tkaplftZicdEKKGz","projectId":"DDNKFY86z4M1vOBu"}],"tags":[]}