feedback-form-connecting-to-slack-UvfvBpObRxlsEY6r.json
{"createdAt":"2025-09-05T04:53:37.707Z","updatedAt":"2025-09-05T11:37:52.000Z","id":"UvfvBpObRxlsEY6r","name":"feedback form connecting to slack","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Feedback Form","formDescription":"Feedback form customers","formFields":{"values":[{"fieldLabel":"First Name","placeholder":"Please enter your first name","requiredField":true},{"fieldLabel":"Last Name","placeholder":"Please enter your last name","requiredField":true},{"fieldLabel":"Email","placeholder":"Please enter your email","requiredField":true},{"fieldLabel":"Phone Number","placeholder":"Please enter your phone number","requiredField":true},{"fieldLabel":"Feedback","fieldType":"textarea","placeholder":"Please enter your feedback","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-464,-336],"id":"73d242b2-6f07-4574-be81-fcbebb3e1d4e","name":"On form submission","webhookId":"5a049474-61d1-4b00-aa8a-b6bc6e06c03c","executeOnce":false},{"parameters":{"promptType":"define","text":"=your role is to determine feedback submitted by customer is a complain, compliment, feature addition request.\n\nThe feedback is {{ $json.Feedback }}\n\nYour respone should be only one from below\n1. complain\n2. compliment\n3. feature addition request\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-240,-212],"id":"5be2f9a8-629c-41ac-941e-5ca1c2b06740","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-168,12],"id":"d1af8abd-f23f-4fa6-8eae-49f64202bc4f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"dXrag3SqZHRCK02m","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[112,-336],"id":"29099a6a-0cc1-4944-9a22-e98025414e6e","name":"Merge"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"complain","operator":{"type":"string","operation":"equals"},"id":"bb744f8e-2aff-4f5c-a3a9-432e531c29d7"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd826abf-f823-4b9e-af14-f2eb1c1bcb70","leftValue":"={{ $json.output }}","rightValue":"compliment","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"37c809de-1422-4907-a82a-07451046e199","leftValue":"={{ $json.output }}","rightValue":"feature addition request","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[336,-352],"id":"c5554bdb-dde7-4b48-9929-791e94c6d4ab","name":"Switch"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appz1k0i3MnbFlyWb","mode":"list","cachedResultName":"Customers Feedback","cachedResultUrl":"https://airtable.com/appz1k0i3MnbFlyWb"},"table":{"__rl":true,"value":"tblnzjTlB9rGnJpih","mode":"list","cachedResultName":"Complain","cachedResultUrl":"https://airtable.com/appz1k0i3MnbFlyWb/tblnzjTlB9rGnJpih"},"columns":{"mappingMode":"defineBelow","value":{"First Name":"={{ $json['First Name'] }}","Last Name":"={{ $json['Last Name'] }}","Email":"={{ $json.Email }}","Phone Number":"={{ $json['Phone Number'] }}","Feedback":"={{ $json.Feedback }}"},"matchingColumns":["id"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Feedback","displayName":"Feedback","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[560,-528],"id":"0da91cc2-7599-4823-96ec-e3daed5ed867","name":"Complain","credentials":{"airtableTokenApi":{"id":"4bgLoTaZk7rvevsV","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appz1k0i3MnbFlyWb","mode":"list","cachedResultName":"Customers Feedback","cachedResultUrl":"https://airtable.com/appz1k0i3MnbFlyWb"},"table":{"__rl":true,"value":"tblkYo4cEqNHwFTcN","mode":"list","cachedResultName":"compliment","cachedResultUrl":"https://airtable.com/appz1k0i3MnbFlyWb/tblkYo4cEqNHwFTcN"},"columns":{"mappingMode":"defineBelow","value":{"First Name":"={{ $json['First Name'] }}","Last Name":"={{ $json['Last Name'] }}","Email":"={{ $json.Email }}","Phone Number":"={{ $json['Phone Number'] }}","Feedback":"={{ $json.Feedback }}"},"matchingColumns":["id"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Feedback","displayName":"Feedback","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[560,-336],"id":"9abd0b0e-8819-4907-8442-146ea14552f7","name":"Compliment","credentials":{"airtableTokenApi":{"id":"4bgLoTaZk7rvevsV","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appz1k0i3MnbFlyWb","mode":"list","cachedResultName":"Customers Feedback","cachedResultUrl":"https://airtable.com/appz1k0i3MnbFlyWb"},"table":{"__rl":true,"value":"tblG8G7VDaegt8wtt","mode":"list","cachedResultName":"Add Feature","cachedResultUrl":"https://airtable.com/appz1k0i3MnbFlyWb/tblG8G7VDaegt8wtt"},"columns":{"mappingMode":"defineBelow","value":{"First Name":"={{ $json['First Name'] }}","Last Name":"={{ $json['Last Name'] }}","Email":"={{ $json.Email }}","Phone Number":"={{ $json['Phone Number'] }}","Feedback":"={{ $json.Feedback }}"},"matchingColumns":["id"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Feedback","displayName":"Feedback","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[560,-144],"id":"c4ae5595-9e7e-4319-b7ec-05d046bddf66","name":"Add Feature","credentials":{"airtableTokenApi":{"id":"4bgLoTaZk7rvevsV","name":"Airtable Personal Access Token account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C09DUQ05VK6","mode":"list","cachedResultName":"feedback-complain"},"text":"=Complain logged details:\n\nName: {{ $json.fields['First Name'] }} {{ $json.fields['Last Name'] }}\n\nEmail: {{ $json.fields.Email }}\n\nPhone Number: {{ $json.fields['Phone Number'] }}\n\nFeedback: {{ $json.fields.Feedback }}","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[784,-528],"id":"d8a0c56f-fcf0-4e9c-ada1-f3eb020dd3d8","name":"Send a message","webhookId":"1809ae59-9af6-4c47-b29b-2a15c9683d5a","credentials":{"slackApi":{"id":"vAsFITCh9uyQPKOd","name":"Slack account"}}},{"parameters":{"sendTo":"={{ $('On form submission').item.json.Email }}","subject":"=Regarding complain logged on feedback panel","emailType":"text","message":"=Thany you for reaching us. We have already considered your  feedback. We will get back to you.\n\nFind your details below:\n\nName: {{ $json.fields['First Name'] }} {{ $json.fields['Last Name'] }}\n\nEmail: {{ $json.fields.Email }}\n\nPhone Number: {{ $json.fields['Phone Number'] }}\n\nFeedback: {{ $json.fields.Feedback }}\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1008,-528],"id":"74bf60bb-82d6-4643-960c-559073d12977","name":"Send a message1","webhookId":"55d32f25-f6ed-4f72-9407-0a04f04bce5f","credentials":{"gmailOAuth2":{"id":"vuCcYwiTB33fGY4H","name":"Gmail account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C09DUT7QK7E","mode":"list","cachedResultName":"features-to-be-implemented"},"text":"=Complain logged details:\n\nName: {{ $json.fields['First Name'] }} {{ $json.fields['Last Name'] }}\n\nEmail: {{ $json.fields.Email }}\n\nPhone Number: {{ $json.fields['Phone Number'] }}\n\nFeedback: {{ $json.fields.Feedback }}","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[784,-144],"id":"1e099d3b-919b-445c-a2d1-0ffb724a3c34","name":"Send a message2","webhookId":"1809ae59-9af6-4c47-b29b-2a15c9683d5a","credentials":{"slackApi":{"id":"vAsFITCh9uyQPKOd","name":"Slack account"}}}],"connections":{"On form submission":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Complain","type":"main","index":0}],[{"node":"Compliment","type":"main","index":0}],[{"node":"Add Feature","type":"main","index":0}]]},"Complain":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Add Feature":{"main":[[{"node":"Send a message2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9330465b-90c8-46fc-a318-8b76ca5c57d0","triggerCount":0,"shared":[{"createdAt":"2025-09-05T04:53:37.739Z","updatedAt":"2025-09-05T04:53:37.739Z","role":"workflow:owner","workflowId":"UvfvBpObRxlsEY6r","projectId":"DDNKFY86z4M1vOBu"}],"tags":[]}