integratelovablewebhook-sXaLvH3yqnyj52UB.json
{"createdAt":"2025-09-06T06:16:41.719Z","updatedAt":"2025-09-06T07:08:35.000Z","id":"sXaLvH3yqnyj52UB","name":"integratelovablewebhook","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.body.message }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-176,-80],"id":"171fd31f-a02e-4dc8-b89b-c2cf9a87844d","name":"AI Agent"},{"parameters":{"options":{"maxOutputTokens":50}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-304,128],"id":"5c066641-0532-454c-bf15-7c0ae61b4c4a","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"dXrag3SqZHRCK02m","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"httpMethod":"POST","path":"671e883a-3c95-42fe-9ec7-cfb23b2013d1","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,-80],"id":"66e82a89-a046-49f5-a656-031f7a82cfc1","name":"Webhook","webhookId":"671e883a-3c95-42fe-9ec7-cfb23b2013d1"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[176,-80],"id":"58c7b078-97fb-4b74-bc97-8c8e2276a3ab","name":"Respond to Webhook"}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a35045ae-3881-45d6-91c8-866b3ede478a","triggerCount":0,"shared":[{"createdAt":"2025-09-06T06:16:41.748Z","updatedAt":"2025-09-06T06:16:41.748Z","role":"workflow:owner","workflowId":"sXaLvH3yqnyj52UB","projectId":"DDNKFY86z4M1vOBu"}],"tags":[]}