knowledge-base-connecting-supabase-iHPZPpHoWhx3vPe3.json
{"createdAt":"2025-09-21T04:56:13.117Z","updatedAt":"2025-09-21T10:13:25.000Z","id":"iHPZPpHoWhx3vPe3","name":"knowledge base connecting supabase","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"raw","jsonOutput":"{\n  \"knowledge\": \"Question: Do you work on public holidays Answer: Yes, we open on public holidays.\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-624,-56],"id":"7bed7ea8-5679-4815-b8e4-c314621739a1","name":"Edit Fields"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"knowledgebase","mode":"list","cachedResultName":"knowledgebase"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-400,-160],"id":"7906cb04-c70c-4816-af17-c801c6fbed57","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"0KwC8OuOKbYEJU6O","name":"Supabase account"}}},{"parameters":{"modelName":"models/gemini-embedding-exp-03-07"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-392,64],"id":"ebe889b9-4229-404f-8c75-eb003576c99e","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"dXrag3SqZHRCK02m","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-264,64],"id":"d1ea366e-9648-43a0-b514-ed35015ce581","name":"Default Data Loader"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-848,-56],"id":"58339d50-01b3-476d-8873-7ae438daee56","name":"When clicking ‘Execute workflow’"},{"parameters":{"content":"## Manually adding a record into supabase vector dtabase","height":480,"width":1168},"type":"n8n-nodes-base.stickyNote","position":[-1096,-272],"typeVersion":1,"id":"52b64353-2dd8-4e20-8637-a2b62805230d","name":"Sticky Note"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1vWt475v_oL1LgEpRMqF20wdTYKeEgtxU","mode":"list","cachedResultName":"n8nknowledgebase","cachedResultUrl":"https://drive.google.com/drive/folders/1vWt475v_oL1LgEpRMqF20wdTYKeEgtxU"},"event":"fileUpdated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-848,672],"id":"9bdf71db-b6f9-476c-828d-0c9144928b28","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"LjBmlIjz2to6Bcxg","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-624,672],"id":"58b899d2-dee0-430c-9199-718e51c2ceb7","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"LjBmlIjz2to6Bcxg","name":"Google Drive account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.fileExtension }}","rightValue":"pdf","operator":{"type":"string","operation":"equals"},"id":"554506a8-9120-459a-adaa-8cb36c60024b"}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"df244c5d-c2d1-4098-af56-7f995d4f0693","leftValue":"={{ $json.fileExtension }}","rightValue":"=jpg","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image (jpeg or png)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e31813c4-cfb8-4ae5-bca6-37dbbc959096","leftValue":"={{ $json.fileExtension }}","rightValue":"mp3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-400,656],"id":"15f4855e-49fb-42ca-8225-aa625d8ee841","name":"Switch"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"knowledgebase","mode":"list","cachedResultName":"knowledgebase"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-16,352],"id":"4730ca81-4387-4294-a08b-c5e7a477d784","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"0KwC8OuOKbYEJU6O","name":"Supabase account"}}},{"parameters":{"modelName":"models/gemini-embedding-exp-03-07"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[48,544],"id":"09f823b8-280f-482b-ac4e-4eee49b18710","name":"Embeddings Google Gemini1","credentials":{"googlePalmApi":{"id":"dXrag3SqZHRCK02m","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"dataType":"binary","loader":"pdfLoader","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[256,528],"id":"ba757e27-c111-4b46-85fe-99fa3cb06854","name":"Default Data Loader1"},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[80,816],"id":"f25735d5-f4d3-4d30-9a8a-5145bfd86f41","name":"Transcribe a recording","credentials":{"googlePalmApi":{"id":"dXrag3SqZHRCK02m","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"knowledgebase","mode":"list","cachedResultName":"knowledgebase"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[400,744],"id":"82615ab4-5642-4d89-ba4d-b1cf18c4126d","name":"Supabase Vector Store2","credentials":{"supabaseApi":{"id":"0KwC8OuOKbYEJU6O","name":"Supabase account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[408,968],"id":"f9ac5a2d-42bb-47ea-a523-467fdac00df5","name":"Embeddings Google Gemini2","credentials":{"googlePalmApi":{"id":"dXrag3SqZHRCK02m","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[576,960],"id":"9a5ec512-11a5-4ef1-a473-6222494d1847","name":"Default Data Loader2"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash-lite","mode":"list","cachedResultName":"models/gemini-2.5-flash-lite"},"text":"=Only extract text from the image with out any other description on image? {{ $json.originalFilename }}","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-112,672],"id":"2f552ec2-f44c-43a4-b9f5-966ee99ae035","name":"Analyze image","credentials":{"googlePalmApi":{"id":"dXrag3SqZHRCK02m","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Edit Fields":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}],[{"node":"Analyze image","type":"main","index":0}],[{"node":"Transcribe a recording","type":"main","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Supabase Vector Store2","type":"main","index":0}]]},"Embeddings Google Gemini2":{"ai_embedding":[[{"node":"Supabase Vector Store2","type":"ai_embedding","index":0}]]},"Default Data Loader2":{"ai_document":[[{"node":"Supabase Vector Store2","type":"ai_document","index":0}]]},"Analyze image":{"main":[[{"node":"Supabase Vector Store2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e68f7a49-6227-4d59-959f-414f36e03006","triggerCount":0,"shared":[{"createdAt":"2025-09-21T04:56:13.202Z","updatedAt":"2025-09-21T04:56:13.202Z","role":"workflow:owner","workflowId":"iHPZPpHoWhx3vPe3","projectId":"DDNKFY86z4M1vOBu"}],"tags":[]}